
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    </div>

    <% if(articuloId) {  %>
        <div class="alert alert-success" role="alert"  id="alert-msg-delete">
            EL articulo con ID <%= articuloId %> fue eliminado 
        </div>
    <% } %>
    <h2 class="text-center" style="margin-bottom: 12px;">Ultimos Articulos</h2>
    <div class="container d-flex flex-wrap justify-content-evenly">
        <% articulos.forEach(function(articulo) { %>
            <div class="card mt-2 mb-2 mr-4" style="width: 17rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= articulo.title.substring(0, 20) %></h5>
                    <p class="card-text">
                        <%= articulo.text.substring(0, 200) %>
                    </p>
                    <a href="articulo/<%= articulo.id%>" class="">Leer mas...</a>
                </div>
            </div>
         <% }); %>

    </div>

</main>

<script>

    let msg = document.getElementById("alert-msg-delete");
    
    if (msg){
        setTimeout(() => msg.remove(), 3000); }

</script>
