
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                    <span data-feather="home"></span>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registrar">
                    <span data-feather="file"></span>
                    Ingresar Articulo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/map-reduce">
                    <span data-feather="shopping-cart"></span>
                    Operacion MapReduce
                </a>

        </ul>
    </div>
</nav>